body {
	font-family: 'Montserrat', sans-serif;
	transition: background-color 1000ms;
}

#topofpage {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	margin: 0px;
	z-index: 1;
	transition: background-color 1000ms;
	height: 100px;
	font-size: 1.5vw;
}

#hiddenheading {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 1;
	bottom: 5px;
	width: 100%;
	padding-left: 5px;
}

h1 {
	width: 100%;
	text-align: center;
	position: fixed;
	margin: 10px;
	z-index: 1;
	font-size: 36px;
}

button.started {
	margin: 0px 10px;
	background-color: whitesmoke;
	height: 38px;
}

button.notstarted {
	width: 300px;
	height: 300px;
	font-size: 56px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -150px;
	border-radius: 50%;
	background-color: black;
	border: 3px solid whitesmoke;
	color: whitesmoke;
}

label {
	text-align: right;
	margin-left: 10px;
}

p {
	margin: 0px 10px;
	text-decoration-line: underline;
}

#resultcardnumber {
	text-decoration: none;
}

#game {
	position: relative;
	top: 120px;
	text-align: center;
}

#game div {
	border: 1px solid black;
	width: 160px;
	height: 160px;
	margin: 5px;
	display: inline-block;
}

#game div:hover {
	transform: rotate(15deg);
	transition-duration: 0.5s;
	transition-property: transform;
}
